ul {
  list-style-type: none;

}

a {
  text-decoration: none;
  color: inherit;
}

.top-nav, 
.bottom-nav,
.top-nav ul,
.bottom-nav ul {
  display: flex;
  align-items: center;
}
.bottom-nav {
  justify-self: end;
}


.bottom-nav ul:last-of-type li:last-of-type {
  display: flex !important;
}


.top-nav,
.bottom-nav {
  padding: 1rem 2rem;
  justify-content: space-between;
}

.top-nav {
  display: block;
  background-color: #000;
  font-size: 13px;
  font-weight: 500;
  color: hsla(0,0%,100%,.6);
  line-height: 32px;
  max-height: 32px;
}
.bottom-nav {
  font-size: 1.4rem;
  padding: 0;
  text-transform: uppercase;
  color: #999;
}