article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
    list-style: none;
}

body {
    font-family: Helvetica;
    display: grid;
    grid-template-columns: 1fr;
}

.main-nav {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "page-nav"
    "topic-nav";
    
}

.page-nav {
    padding: 0 12px;
    grid-area: page-nav;
    background-color: #131313;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-height: 32px;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
}

.page-link {
    display: flex;
    align-items: center;
}
.page-left {
    margin-left: 12px;
}
.page-right {
    margin-right: 12px;
}

